@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
@import 'bootstrap/dist/css/bootstrap.css';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'DM Serif Text', serif;
}

.navigation {
    background-color: #f4acb7; 
    color: #9d8189;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.navigation h1{
    font-size: xx-large;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

.right {
    display: flex;
    white-space: nowrap;
    align-items: center;
    font-size: larger;
}

.right input{
    background-color: #ffe5d9;
    font-family: inherit;
    border: none;
    padding: 0.50rem;
    width: 300px;
}

.right input:focus, textarea:focus {
    outline: none !important;
    background-color: #ffe5d9 !important;
    border: 2px solid #9d8189 !important;
    box-shadow: none !important;
  }

.right button{
    background-color: #ffcad4;
    font-family: inherit;
    color: #9d8189;
    border: none;
    margin-right: 15px;
}

.right button:hover{
    background-color: #9d8189 !important;
    color: #ffe5d9;
}