@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
@import 'bootstrap/dist/css/bootstrap.css';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'DM Serif Text', serif;
}

.navigation {
    background-color: #f4acb7; 
    color: #9d8189;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.navigation h1{
    font-size: xx-large;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

.nav-right {
    display: flex;
    white-space: nowrap;
    align-items: center;
    font-size: larger;
}

.nav-right input{
    background-color: #ffe5d9;
    font-family: inherit;
    border: none;
    padding: 0.50rem;
    width: 300px;
}

.nav-right input:focus, textarea:focus {
    outline: none !important;
    background-color: #ffe5d9 !important;
    border: 2px solid #9d8189 !important;
    box-shadow: none !important;
  }

.nav-right button{
    background-color: #ffcad4;
    font-family: inherit;
    color: #9d8189;
    border: none;
    margin-right: 15px;
}

.nav-right button:hover{
    background-color: #9d8189 !important;
    color: #ffe5d9;
}

.nav-link{
    color: #9d8189;
    text-decoration: none;
}

.nav-link:hover{
    color: #ffe5d9; 
}

.notification-count{
    background-color: #ffcad4;
    color:#9d8189;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.25rem;
    margin-right: 0.5rem;
    padding: 0.25rem;
    border-radius: 50%;
    font-size: small;
}

.bell-icon:hover{
    cursor: pointer;
    color:#ffcad4;
}

.display-notifs{
    position: absolute;
    border-radius: 10px;
    background-color: #ffe5d9;
    outline-style: solid;
    outline-color: #9d8189;
    right: 1rem;
    width: 20%;
    height: 20%;
}

.one-notif{
    background-color: #ffcad4;
    margin: 1rem;
    border-radius: 10px;
    padding-bottom: 1px;
}

.one-notif p{
    margin-left: 95%;
    margin-bottom: 0;
    font-size: small;
}

.one-notif p:hover{
    cursor: pointer;
}

.one-notif h3{
    color:#9d8189;
    font-size: medium;
    text-align: center;
    margin-top: 0;
}