@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

* {
    box-sizing: border-box;
    font-family: 'DM Serif Text', serif;
}

.login-overall{
    background-color: #f4acb7;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 60%;
    border-radius: 25px;
    align-items: center;
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 3vw 7vw;
    white-space: nowrap;
}

.login-input-box {
    align-items: center;
}

.login-input-box h1, p{
    color: #9d8189;
}

.login-input-box input{
    background-color: #ffe5d9;
    border: none;
    border-radius: 10px;
    padding: 0.70rem;
    width: 300px;
    margin: 0.5rem;
    text-transform: lowercase;
}

.login-input-box input:focus{
    outline: none;
    box-shadow: 2px 3px #9d8189;
}

.login-input-box button{
    background-color: #ffcad4;
    font-size: large;
    color: #9d8189;
    border: none;
    border-radius: 10px;
    width: 12rem;
    margin-bottom: 1rem;
}

.login-input-box button:hover{
    background-color: #9d8189;
    color: #ffe5d9;
}

.login-error{
    height: 1rem;
}

.login-register-route{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 16rem;
    margin: 1rem;
}

.login-register-route p{
    margin-top: auto;
    margin-bottom: auto;
}

.login-register-route button{
    background-color: #ffcad4;
    font-family: inherit;
    color: #9d8189;
    border: none;
    border-radius: 10px;
    width: 75px;
}

.login-register-route button:hover{
    background-color: #9d8189;
    color: #ffe5d9;
}

