@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

* {
    box-sizing: border-box;
    font-family: 'DM Serif Text', serif;
}

.submit-request{
    background-color: #ffe5d9;
    color: #9d8189;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 34rem;
    position: absolute;
    padding-top: 1rem;
    padding-bottom: 1rem;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-top: 1rem;
}

.submit-request div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;
}

.submit-request h1{
    font-size: x-large;
}

.submit-request button{
    background-color: #f4acb7;
    color: #9d8189;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 2rem;
}

.submit-request-error{
    font-size: small;
    width: 60%;
    margin: auto;
    margin-top: 0.5rem;
    height: 1rem;
}

.submit-request-title, .submit-request-desc{
    margin-top: auto;
    margin-bottom: auto;
    width: 8rem;
}

.submit-request input{
    background-color: #ffcad4;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem;
    text-transform: lowercase;
}

.submit-request input:focus{
    outline: none;
    box-shadow: 2px 3px #9d8189;
}

.submit-request textarea{
    height: 20rem;
    background-color: #ffcad4;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem;
    text-transform: lowercase;
    resize: none;
}

.submit-request textarea:focus{
    outline: none;
    box-shadow: 2px 3px #9d8189;
}

.submit-request-return{
    background-color: #f4acb7;
    color: #9d8189;
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    position:absolute; 
    margin-left:-50px;
    left:50%;
    bottom:2%;
}

.submit-request-return:hover{
    color: #ffcad4;
}